.introdiv {
    margin: auto;
    margin-top: 50px;
    width: 100%;
    max-width: 400px;
}

.intro {
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 600px) {
    .introdiv {
        max-width: 1000px;
    }
}

