.title{
    font-size: 20pt;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: fit-content;
}

@media screen and (min-width: 600px) {
    .title{
        font-size: 35pt;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 800px) {
    .title{
        font-size: 45pt;
    }
}